[submodule "Safari Extension/Resources/Angular"]
	path = Safari Extension/Resources/Angular
	url = https://github.com/Email-Alias/Email-Alias-Angular.git
[submodule "Safari Extension/Resources/extension"]
	path = Safari Extension/Resources/extension
	url = https://github.com/Email-Alias/Web-Extension
